.wrapper {
    width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

#header {
    background: orchid;
}

/* Navigation */

#nav {
    background: orange;
}

#nav ul {
    list-style: none;
}

#nav a {
    float: left;
    display: block;
    padding: 10px;
}

#nav a:hover {
    background: purple;
    color: #fff;
}

/* Main */

#main {

}

#content {
    float: left;
    width: 600px;
    margin-left: 20px;
    background: yellow;
}

#sidebar {
    float: right;
    width: 300px;
    margin-right: 20px;
    background: cyan;
}

#footer {
    background: olivedrab;
}