{% load staticfiles %}<!DOCTYPE html>
<html lang="en" {% block html_attributes %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <title>IPRI 2013</title>
    <link rel="stylesheet" type="text/css" href="{% static 'usercp/style/bootstrap.css' %}">
    <script src="{% static 'usercp/lib/jquery.js' %}"></script>
    <script src="{% static 'usercp/lib/angular.js' %}"></script>
    <script src="{% static 'usercp/lib/angular_resource.js' %}"></script>
    <script src="{% static 'usercp/js/services.js' %}"></script>
    <script src="{% static 'usercp/js/controllers.js' %}"></script>
    <script src="{% static 'usercp/js/app.js' %}"></script>
</head>
<body {% block body_attributes %}{% endblock %}>
    {% block content %}
    {% endblock %}
</body>
</html>
