<div class="well well-small">
    {% if server.banner %}
        <img src="{{ MEDIA_URL }}{{ server.banner }}" alt="{{ server.name }}" title="{{ server.name }}" width="468" height="60" />
    {% else %}
        <img src="{% url 'dynamic_banner' server.id %}" alt="{{ server.name }}" title="{{ server.name }}" width="468" height="60" />
    {% endif %}
    <h3><a href="{% url 'server' server.id %}">{{ server.name }}</a></h3>
    <p>{{ server.description }}</p>
    <p>Rating: {{ server.rating }}</p>
    <p>Last Rank: {{ server.last_rank }}</p>
</div>