{% extends 'plain.html' %}

{% block title %}{{ server.name }}{% endblock %}

{% block content %}
    <h1>{{ server.name }}</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'servers' %}">Servers</a> <span class="divider">/</span></li>
        <li class="active">{{ server.name }}</li>
    </ul>
    <p>
        <a href="{% url 'vote' server.id %}" class="btn">Vote</a>
        <a href="{{ server.website }}" target="_blank" class="btn">Visit Website</a>
    </p>
    <p>{{ server.description }}</p>
    <div id="reviews">
        {% if reviews %}
            <h2>Reviews</h2>
            {% for review in reviews %}
                <div class="well well-small">
                    <p><small><strong>{{ review.user }}</strong> rated <strong>{{ server.name }}</strong> with <strong>{{ review.rating }}</strong> points <strong>{{ review.create_date|timesince }}</strong> ago</small></p>
                    <p>{{ review.body }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No reviews.</p>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <p>Click <a href="{% url 'review_server' server.id %}">here</a> to review this server.</p>
    {% else %}
        <p>You need to <a href="{% url 'login' %}">login</a> to review this server.</p>
    {% endif %}
{% endblock %}