{% extends 'plain.html' %}

{% block title %}Add Server{% endblock %}

{% block content %}
    <h1>Add Server</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'servercp:servers' %}">My Servers</a> <span class="divider">/</span></li>
        <li class="active">Add</li>
    </ul>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr />
        <input type="submit" value="Add" class="btn btn-large btn-primary" />
        <a href="{% url 'servercp:servers' %}" class="btn btn-large btn-danger">Cancel</a>
    </form>
{% endblock %}