{% extends 'plain.html' %}

{% block title %}Update Server{% endblock %}

{% block content %}
    <h1>Update Server</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'servercp:servers' %}">My Servers</a> <span class="divider">/</span></li>
        <li><a href="{% url 'servercp:info' server.pk %}">{{ server.name }}</a> <span class="divider">/</span></li>
        <li class="active">Update</li>
    </ul>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr/>
        <input type="submit" value="Update" class="btn btn-large btn-primary"/>
        <a href="{% url 'servercp:servers' %}" class="btn btn-large btn-danger">Cancel</a>
    </form>
{% endblock %}