<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}L2 Private Servers{% endblock %} | L2Ranking</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}style/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style/default.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style/ie.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style/responsive.css" type="text/css" />
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>