{% extends 'base.html' %}
{% load base %}

{% block body %}
<div class="wrapper">
    <div id="header">
        <h1>L2 Ranking</h1>
    </div>
    <div id="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'servers' %}">Servers</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div id="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar">
            {% categories %}
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        L2Ranking &copy; {% now "Y" %}
    </div>
</div>
{% endblock %}