{% extends 'base.html' %}
{% load base %}

{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{% url 'home' %}">L2Ranking</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'servers' %}">Servers</a></li>
                        <li><a href="{% url 'search' %}">Search</a></li>
                        <li><a href="{% url 'news' %}">News</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                        <div class="pull-right">
                            <a class="btn" href="{% url 'servercp:servers' %}">Server CP</a>
                            <a class="btn" href="{% url 'usercp:account' %}">Account</a>
                            <a class="btn" href="{% url 'usercp:logout' %}">Logout</a>
                        </div>
                    {% else %}
                        <form class="navbar-form pull-right" action="{% url 'usercp:login' %}" method="post">
                            {% csrf_token %}
                            <input class="span2" name="username" type="text" placeholder="Username">
                            <input class="span2" name="password" type="password" placeholder="Password">
                            <button type="submit" class="btn">Login</button>
                            <a class="btn" href="{% url 'usercp:register' %}">Register</a>
                        </form>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="span8">
                {% block content %}{% endblock %}
            </div>
            <div class="span4">
                <h2>Chronicles</h2>
                {% categories %}
            </div>
        </div>

        <hr>

        <footer>
            <p>L2Ranking &copy; 2013</p>
        </footer>

    </div> <!-- /container -->
{% endblock %}