{% extends 'plain.html' %}

{% block content %}

    <div class="row">
        <div class="span4">
            <h2>New Servers</h2>
            {% if new_servers %}
                <div class="well well-small">
                    {% for server in new_servers %}
                        <h3><a href="{% url 'server' server.id %}">{{ server.name }}</a></h3>
                    {% endfor %}
                </div>
            {% else %}
                <p>No new servers.</p>
            {% endif %}
            <a href="{% url 'servers' %}" class="btn">More Servers</a>
        </div>
        <div class="span4">
            <h2>Top Servers</h2>
            {% if top_servers %}
                <div class="well well-small">
                    {% for server in top_servers %}
                        <h3><a href="{% url 'server' server.id %}">{{ server.name }}</a></h3>
                    {% endfor %}
                </div>
            {% else %}
                <p>No new servers.</p>
            {% endif %}
            <a href="{% url 'servers' %}" class="btn">More Servers</a>
        </div>
    </div>
    <hr />
   <h2>Latest News</h2>
    {% if latest_news %}
        <div class="well well-small">
            {% for news in latest_news %}
                <h3><a href="{% url 'news_detail' news.id %}">{{ news.title }}</a></h3>
                {% if forloop.first %}
                    <p>{{ news.body }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>No news.</p>
    {% endif %}
    <a href="{% url 'news' %}" class="btn">More News</a>
{% endblock %}