{% extends 'plain.html' %}

{% block title %}{{ server.name }}{% endblock %}

{% block content %}
    <h1>{{ server.name }}</h1>
    <p>{{ server.description }}</p>
    <div id="reviews">
        {% if reviews %}
            {% for review in reviews %}
                <h3><strong>{{ review.user }}</strong> rated <strong>{{ server.name }}</strong> with <strong>{{ review.rating }}</strong> points ({{ review.create_date }}).</h3>
                <p>{{ review.body }}</p>
            {% endfor %}
        {% else %}
            <p>No reviews.</p>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <p>Click <a href="{% url 'review_server' server.id %}">here</a> to review this server.</p>
    {% else %}
        <p>You need to <a href="{% url 'login' %}">login</a> to review this server.</p>
    {% endif %}
{% endblock %}